<div class="new-vehicle-setup">
  <ul>
    <li><label for="">品牌</label><span class="width-200 js-brand"></span></li>
    <li><label for="">制造商</label><span class="width-200 js-manufacturer"></span></li>
    <li><label for="">车系</label><span class="width-200 js-series"></span></li>
    <li>
      <label for="">车型</label>
      <input type="text" class="width-200 js-model">
    </li>
    <li class="btn-group">
      <input type="button" class="save-btn js-update-model" value="保存">
      <input type="button" class="cancel-btn" value="取消">
    </li>
  </ul>
</div>
