<div class="show-series">
  <div class="title">
    <label for="">品牌:</label><span class="carmarker js-brand"></span>
    <label for="">制造商:</label><span class="carmarker js-manufacturer"></span>
    <label for="">车系:</label><span class="a-series-of-vehicle cursor-pointer js-series"></span>
    <i class="fa fa-plus-circle plus-circle js-create-model"></i>
    <i class="fa fa-close close cancel-btn"></i>
  </div>
  <ul class="models">
  </ul>
</div>
