<div class="new-vehicle-setup">
  <%= form_tag(mis_vehicle_models_path, method: :post, remote: true, id: 'modelForm') do %>
    <%= hidden_field_tag :series_id %>
    <ul>
      <li><label for="">品牌</label><span class="width-200 js-brand"></span></li>
      <li><label for="">制造商</label><span class="width-200 js-manufacturer"></span></li>
      <li><label for="">车系</label><span class="width-200 js-series"></span></li>
      <li>
        <label for="">车型</label>
        <input type="text" class="width-200" name='vehicle_model[name]'>
      </li>
      <li class="btn-group">
        <%= submit_tag '保存', class: 'save-btn' %>
        <input type="button" class="cancel-btn" value="取消">
      </li>
    </ul>
  <% end %>
</div>
