<div class="disable_store_wrap" style="display:none">
  <div class="disable_store">
    <div class="title"><span></span></div>
    <div class="grounds">
      <span class="write_grounds">请填写理由:</span>
      <textarea placeholder="" class="reason"></textarea>
      <div class="btn_group">
        <%= link_to '确定', 'javascript:void(0)', class: 'certain_btn btn' %>
        <%= link_to '取消', 'javascript:void(0)', class: 'popups_cancel_btn btn' %>
      </div>
    </div>
  </div>
</div>
