<%#-*- coding: utf-8 -*-%>
<h1 class="title">
  <span class="title_left">编辑<%= model_human_name %>页面</span>
  <span class="title_right">
    <%%=link_to '详情', @<%=singular_table_name%>, style: 'margin-right: 10px;'%>
    <%%=link_to '返回列表', <%= plural_table_name %>_path %>
  </span>
</h1>

<%%= render 'form' %>
