<li>
  <i class="fa fa-asterisk"></i>
  <span>联系电话：</span>
  <input type="text" class="info" name="store[store_info][<%= category.id %>][value]" required="required" value="<%= @store.admin.phone_number %>">
</li>
