<li class="position-relative">
  <span>经纬度：</span>
  <span class="info text-align-left text-indent-16">(X,Y)<%= category.current_info_value_by_store %></span>
  <a href="http://api.map.baidu.com/lbsapi/getpoint/index.html" target="_blank"><%= image_tag 'map.png' %></a>
</li>
