.confirm{
	width: 470px;
	height:225px;
	border: 1px solid #8F9CAC;
  margin: 0 auto;
  background: #fff;
  position: relative;
  top: 190px;

	.title{
		height:83px;
		background: #485C77;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 18px;
		span{
			color:#fff;
			font-size: 22px;
		}
	}

	.confirm_content{
		height: 142px;
		background:#fff;

		.btn_group{
			padding-top: 80px;
			display: flex;
			justify-content: space-around;
		}
	}
}
