<div id="toggle_dialog" class="disable_store_wrap  stop_branch_grounds" style="display:none;margin-left:-400px;">
	<div class="confirm">
		<div class="title"></div>
	  <div class="confirm_content">
			<div class="btn_group">
				<a href="javascript:void(0)" class="certain_btn btn">确定</a>
				<a href="javascript:void(0)" class="popups_cancel_btn btn">取消</a>
			</div>

		</div>
	</div>
</div>
