<%=render "/common/page_nav"%>
<%=render '/common/info_category_label'%>

<%= render 'form'%>

<div class="new_station_wrap" style="display:none;">

  <div class="new_station">
    <ul>
      <li>
        <span>帐号名称：</span>
        <input type="text" class="width-161">
      </li>

      <li>
        <span>帐号：</span>
        <input type="text" class="width-161">
      </li>
    </ul>

    <div class="btn_group">
      <a href="javascript:void(0)" class="save_btn btn margin-right-180">保存</a>
      <a href="javascript:void(0)" class="cancel_btn btn ">取消</a>
    </div>
  </div>

</div>
