<ul class="nav">
  <li>
    <a href="javascript:void(0)" class="active">新建经销商</a>
  </li>
</ul>

  <div class="content dealer_info">
    <%= form_for @staffer, url: mis_agents_path do |f| %>
      <%= render 'new', f: f %>
		<div class="btn_group">
      <%= f.submit '保存', class: 'save_btn btn' %>
		</div>
    <% end %>
  </div>


<script type="text/javascript">
  $("#new_staffer").validate();
</script>
