<%= render '/mis/agent_payments/nav_title' %>

<div class="content dealer_info">
  <%= render 'show' %>
	<div class="btn_group">
    <%= link_to '编辑', edit_mis_agent_path(@staffer), class: 'edit_btn btn' %>
	</div>
</div>
