
.text-align-left{
  text-align:left !important;
}


.text-align-right{
  text-align:right !important;
}

.text-align-center{
  text-align:center !important;
}






.text-indent-16{
  text-indent:16px;
}


.text-indent-40{
  text-indent:40px;
}
