@charset "UTF-8";

.width-10{
	width:10px!important;
}

.width-33{
	width:33px!important;
}

.width-34{
	width:34px!important;
}

.width-35{
	width:35px!important;
}


.width-50{width:50px;}

.width-60{
	width: 60px !important;
}

.width-75{
	width: 75px !important;
}

.width-80{
	width: 80px !important;
}

.width-85{
	width: 85px !important;
}

.width-93{
	width: 93px !important;
}

.width-100{
	width: 100px !important;
}

.width-115{
	width: 115px;
}

.width-140{
	width:140px !important;
}

.width-150{
	width: 150px;
}

.width-161{
	width: 161px;
}

.width-175{
	width: 175px;
}

.width-196{
	width: 196px !important;
}

.width-200{
	width: 200px !important;
}
