<ul class="nav">
    <li>
      <%=link_to '基本信息', "javascript:void(0)", class: "base_label active" %>
    </li>
    <li>
    <a href="javascript:void(0)">设施信息</a>
    </li>
    <li>
    <a href="javascript:void(0)">网络信息</a>
    </li>
    <li>
     <a href="javascript:void(0)">财务信息</a>
    </li>
    <li>
      <a href="javascript:void(0)">营销帐号</a>
    </li>
</ul>
